#cosmetologist-open {
    padding-top: 100px;

    .breadcrumbs {
        top: -50px;
    }
}

.cosmetologist-open-item {
    position: relative;
    margin-top: 80px;
    margin-bottom: 140px;
    padding-top: 0;
    padding-bottom: 150px;
    background-color: #fff;
    border: 1px solid #e1e1e1;

    &::before {
        content: '';
        position: absolute;
        top: 40%;
        left: -80px;
        right: -3000px;
        bottom: -150px;
        background-color: $secondary;
        z-index: -5;
    }
}

.cosmetologist-open-card {
    color: $dark;
    max-width: 520px;

    .btn {
        border: 1px solid $primary;
    }

    &__img {
        padding-top: 500px;
        @extend %img;
        border-bottom: 2px solid $primary;
    }

    &__position {
        margin-top: 30px;
        font-size: 18px;
        text-align: center;
        color: #8d8d8d;
    }

    &__description {
        font-size: 18px;
    }
}

.make-modal {
    left: 0;
    bottom: 100px;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    box-shadow: 0px 0px 38px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media (min-width: map_get($grid-breakpoints, sm)) {
       left: 0;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
        left: 20%;
        max-width: 730px;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
        left: 30%;
    }





    &.modal-active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    &-close {
        top: -1px;
        right: -1px;
        width: 70px;
        height: 70px;
        background: #ebebeb;
        border: 1px solid #d7d7d7;
        cursor: pointer;
        transition: .5s;

        .line {
            width: 30px;
            height: 2px;
            background-color: #d7d7d7;
            top: 33px;
            left: 19px;
            transition: .8s;
            perspective: 1000px;

            &--left {
                transform: rotate(-45deg);
            }

            &--right {
                transform: rotate(45deg);
            }
        }

        &:hover {
            background: $danger;

            .line {

                &--left {
                    transform: rotate(45deg);
                }

                &--right {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &-header {
        padding: 40px 0 0 45px;

        @media (max-width: map_get($grid-breakpoints, sm)) {
            max-width: 190px;
         }
    }

    &-body {
        padding-left: 45px;
        padding-bottom: 50px;

        .btn {
            right: -1px;
            bottom: -1px;
        }
    }
}
