#personal-area {
    padding: 60px 0;

    .breadcrumbs {
        top: -50px;
        left: -30px;
    }
}

.personal-area-tabs {
    color: #acabab;

    &-item {
        margin-bottom: 4px;


        &-header {
            position: relative;
            padding: 20px 0;
            background: #f3f3f3;
            cursor: pointer;
            transition: .5s;

            &::before {
                content: '';
                @extend %pos;
                left: -40px;
                background: #f3f3f3;
                z-index: -4;
            }

            &.active {

                .personal-area-tabs-item-header__title {
                    
                    &::before {

                        border-width: 0 6px 7px 6px;
                        border-color: transparent transparent #acabab transparent;
                    }
                }
            }

            &__title {
                position: relative;
                display: inline-block;
                padding-right: 20px;
                font-size: 14px;
                padding-left: 30px;

                @media (max-width: map_get($grid-breakpoints, sm)) {
                    padding-left: 0;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7px 6px 0 6px;
                    border-color: #acabab transparent transparent transparent;
                    transition: .5s;
                }
            }
        }

        &-header-statick {
            @extend .personal-area-tabs-item-header;
            cursor: auto;

            &__title {
                padding-left: 30px;

                @media (max-width: map_get($grid-breakpoints, sm)) {
                    padding-left: 0;
                }
            }
        }

        &-body {
            margin: 20px 0;
            padding-left: 30px;
            display: none;

            @media (max-width: map_get($grid-breakpoints, sm)) {
                padding-left: 0;
            }

            .personal-area-main-data {

                &-info {
                    margin-left: 20px;
                    font-weight: bold;

                    &__name {
                        color: $dark;
                        margin-bottom: 0;
                    }
                }
            }

            &-info-sale {
                display: inline-block;
                padding: 15px;
                font-size: 14px;
                background: $primary;
                color: #fff;
            }
        }
    }
}

.personal-area-table {

    th {
        border: none !important;
        font-weight: 300;
        color: #acacac;
    }

    td {
        border-top: none;
        border-bottom: 1px solid #f0f0f0;
        color: $dark;
    }
}