.pagination {
    background-color: $secondary;

    &-item {
        padding: 1.5rem .7rem;
        font-size: 18px;
        font-weight: normal;
        color: $dark;
        border-bottom: 2px solid transparent;
        transition: .5s;
        opacity: .8;

        &.active {
            color: #fff;
            background-color: $primary;
        }

        &:hover {
            border-color: $primary;
            opacity: 1;
        }
    }

    &-nav {

        svg {
            opacity: .7;
            transition: .5s;
        }

        &:hover {

            svg {
                opacity: 1;
            }
        }
    }
}